@use "../../stylesPartials/mixins" as *;
@use "../../stylesPartials/variables" as *;

.btn {
  height: $button-height;
  width: 10vw;
  border-radius: $button-radius;
  border: 0;
  cursor: pointer;
  transition: 0.2s;

  &:hover {
    background-color: $color-secondary-dark-blue;
    color: $color-primary-white;
  }

  &__search {
  }

  &__add {
    &-container {
      //   vertical-align: middle;
    }
  }

  &__applied {
  }

  &__details {
    width: 13.5vw;

    &:hover {
      background-color: $color-secondary-light-blue;
      color: $color-primary-white;
    }
  }

  &__job-form {
    margin-inline: auto;
    margin-right: $spacing-small;
  }
}
