@use "../../stylesPartials/variables" as *;
@use "../../stylesPartials/mixins" as *;

.jobs {
  &-container {
    width: 100vw;
    height: 90vh;
    background-color: rgba(124, 175, 196, 0.5);

    @include flexbox(row, flex-start, flex-start);
  }
}
