@use "../../stylesPartials/variables" as *;
@use "../../stylesPartials/mixins" as *;

.jobCard {
  &-container {
    width: 17vw;
    height: 35rem;
    // border: $divider-width solid $divider-color;
    padding: $spacing-big;
    background-color: $color-secondary-dark-blue;
    color: $color-primary-white;
    margin: 2rem;
    border-radius: $button-radius;

    @include flexbox(column, space-between, flex-start);
  }

  &__company {
    margin-bottom: $padding-small;

    &-container {
      width: 13.5vw;
      @include flexbox(row, space-between, flex-start);
    }
  }

  &__edit {
    width: 26px;
    height: 26px;
    cursor: pointer;
  }

  &__position {
    margin-bottom: $padding-small;
  }

  &__date {
    margin-bottom: $padding-small;
  }

  &__status {
    width: 7vw;
    width: 13.5vw;
    // width: 100%;
    // height: 5rem;
    padding: $spacing-small;
    text-align: center;
    font-weight: 600;
    color: $color-primary-white;
    border-radius: 30px;
    margin-bottom: $padding-small;

    &--applied {
      background-color: $color-primary-green;
    }

    &--rejected {
      background-color: $color-primary-red;
    }
  }
}
