@use "./typography";
@use "./mixins" as *;
@use "./variables" as *;

// universal styling rules

* {
  box-sizing: border-box;
  font-size: 62.5%;
  margin: 0;
  padding: 0;
  font-family: "IBMPlexMono";
  font-weight: 400;
}
