@use "./mixins" as *;
@use "./variables" as *;

// TYPOGRAPHY

@font-face {
  font-family: "Calibre";
  src: url("../assets/fonts/Calibre-Regular.woff") format(woff);
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: "Calibre";
  src: url("../assets/fonts/Calibre-Semibold.woff") format(woff);
  font-style: normal;
  font-weight: 600;
}

.homepage__title,
.login-form__title {
  font-size: $mob-font-heading;
  line-height: 10rem;
  font-weight: 600;
}

.job-form__title {
  font-size: $mob-font-sub-heading;
  line-height: 4rem;
  font-weight: 600;
}

.navbar__title,
.jobDetails__title {
  font-size: $mob-font-logo;
  line-height: 2.3rem;
  font-weight: 600;
}

.homepage__subtext,
.login-form__label,
.login-form__input,
.jobCard__company,
.jobCard__position,
.jobCard__status,
.jobDetails__text {
  font-size: $mob-font-text;
  line-height: 4rem;
  font-weight: 600;
}

.homepage__button,
.btn__search,
.btn__add,
.btn__logout,
.btn__details,
.btn__jobDetails,
.btn__job-form,
.jobCard__date,
.searchBar__input,
.job-form__label,
.job-form__input,
.job-form__textarea {
  font-size: $mob-font-body;
  line-height: 2.4rem;
  font-weight: 400;
}
