// Color Pallete

// primary colors

$color-primary-yellow: #fcff4b;
$color-primary-orange: #ffad05;
$color-primary-red: #de240c;
$color-primary-green: #06d6a0;
$color-primary-blue: #5995ed;
$color-primary-white: #ffffff;

// secondary colors

$color-secondary-black: #0d1117;
$color-secondary-dark-grey: #212932;
$color-secondary-light-blue: #7cafc4;
$color-secondary-dark-blue: #044389;
// typography - mobile

// landing page  logo 2.6rem LH-2.3rem opnevault - 2.1rem L.H 2.1rem both 600; logo rest same F 2.6,LH 2.3 700
// navigation, ps + xbox product page title, xbox PS 10rem LH 10rem 700
// PS product page- icon 2.4rem LH 2.1rem 700; game title F,LH 2.1rem 700

$mob-font-heading: 5rem;
$mob-font-sub-heading: 3.4rem;
$mob-font-logo: 2.6rem;
$mob-font-sub-heading: 2.4rem;
$mob-font-text: 2.1rem;
$mob-font-body: 1.8rem;

// PADDING OR MARGIN - MOBILE

$spacing-big: 2.4rem;
$spacing-small: 0.8rem;

$padding-big: 1.6rem;
$padding-small: 1.2rem;

// PADDING OR MARGIN - TABLET-DESKTOP

// $desk-spacing-big: 3.6rem;
// $desk-spacing-small: 2.4rem;

// BUTTONS

$button-height: 4rem;
$button-width-tablet: 15rem;
$button-width-mobile: 3.2rem;
$button-radius: 4px;
$image-radius: 16px;

// DIVIDER

$divider-color: $color-secondary-black;
$divider-width: 1px;

// SCREEN SIZE - TABLET & DESKTOP

$breakpoint-mobile: 375px;
$breakpoint-tablet: 768px;
$breakpoint-tablet-landscape: 940px;
$breakpoint-desktop: 1279px;
