@use "../../stylesPartials/variables" as *;
@use "../../stylesPartials/mixins" as *;

.homepage {
  @include flexbox(row, center, center);

  &-container-1 {
    height: 100vh;
    width: 60vw;
    background-color: $color-secondary-light-blue;

    @include flexbox(column, center, center);
  }

  &-container-2 {
    height: 100vh;
    width: 40vw;
    background-color: $color-secondary-light-blue;
    background-color: $color-secondary-dark-blue;
    color: $color-primary-white;

    @include flexbox(column, center, center);
  }

  &__image {
    width: 80px;
    height: 80px;
  }

  &__title {
    color: $color-secondary-dark-grey;
  }

  &__subtext {
    margin-bottom: $padding-big;
    color: $color-secondary-dark-grey;
  }

  &__button {
    width: 100%;
    height: 5.6rem;
    padding: $padding-small;
    margin-top: $spacing-big;
    border: 0;
    border-radius: $button-radius;
    cursor: pointer;

    &:hover,
    &:focus {
      background-color: $color-secondary-light-blue;
      color: white;
      border: 0;
      outline: 0;
      font-weight: 600;
    }
  }
}

.login-form {
  @include flexbox(column, center, flex-start);

  &__title {
    color: $color-primary-white;
  }

  &__label {
    margin-bottom: $spacing-small;
  }

  &__input {
    height: 5.6rem;
    margin-bottom: $spacing-big;
    border-radius: $button-radius;
    padding: $spacing-small;
    padding-left: $padding-big;
    color: $color-secondary-dark-grey;
    border: 0;

    &::placeholder {
      padding-top: 1rem;
    }

    &:focus {
      outline: 0;
    }
  }
}
