@use "../../stylesPartials/variables" as *;
@use "../../stylesPartials/mixins" as *;

.job-form {
  width: 30vw;
  margin-inline: auto;
  @include flexbox(column, space-between, flex-start);

  &-container {
    width: 100vw;
    // height: 90vh;
    padding: $spacing-big;
    background-color: rgba(124, 175, 196, 0.5);
    @include flexbox(column, flex-start, flex-start);
  }

  &-btn-container {
    width: 25vw;
    margin-inline: auto;

    @include flexbox(row, space-between, flex-start);
  }
  &__title {
    margin-inline: auto;
    margin-bottom: $spacing-small;
  }
  &__label {
    margin-bottom: $spacing-small;
  }

  &__input,
  &__textarea {
    margin-bottom: $padding-small;
    padding: $spacing-small;
  }

  &__input {
    margin-left: $spacing-big;
  }

  &__textarea {
    width: 30vw;
    height: 10rem;
    resize: none;
  }
}
